img{
    max-width: 100%;
    display: block;
}
.article{
    max-width: 1920px;
}
.container{
max-width: 1440.5px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navright{
    display: flex;
    align-items: center;
}
.search{
    margin-right: 90px;
}
.menu{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000000;
}

.sti1, .sti2, .sti3 {
    width: 35px;
    height: 5px;
    background-color: #333333;
    margin: 6px 0;
    transition: 0.4s;
}

.site_logo{
    padding: 30px 0 30px 0;
}
.bread_menu {
    padding: 30px 10px 30px 0;
}

.menu1{
    padding: 30px 0 30px 10px;
}
/* thumbnil */
.thumbnil img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.post{
    margin-top: 50px;
    
}
.post_meta_top{
    color: #588AEE;
    font-size: 20px;
}
.post_title h1{
    /* font-family:; */
    font-size: 48px;
}

.post_sub_title{
    display: flex;
    font-size: 20px;
    margin-top: 30px;
}
.post_sub_title .right{
    margin-left: 50px;
}

.post_author{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.post_author img{
    height: 80px;
    width: 80px;
    border-radius: 60px;
    object-fit: cover;

}

.post_author_name{
    display: flex;
    margin-left: 20px;
    color: #000000;
}
.sti4{
    padding: 0 1px 0 1px;
    background-color: #000;
    height: 18px;
    margin: 4px 10px 6px;
}

.prefix {
    font-size: 18px;
    margin-top: 30px;
}
/* .intro{

} */

.intro h1 {
    font-size: 48px;
    margin-top: 30px;
}
.post_cont h1{
    font-size: 30px;
    margin-top: 30px;
}

.into_cont{
    font-size: 18px;
    margin-top:30px;
}


.intro_list{
    display: flex;
    margin-top: 30px;
    line-height:  36px;
    
}


.first_list, .second_list {
    max-width: 45%;
    font-size: 18px;
    letter-spacing: 0px;
}
.intro_table{
    display: flex;
}
.table1 tr td {
    display: flex;
    height: 60px;
    align-items: baseline;
}
.table2 tr td{
    display: flex;
    height: 60px;
    align-items: baseline;
}

.somerec{
    font-size: 18px;
    line-height: 36px;
    margin-top: 30px;
}

.post_img1 img {
    max-height: 380px;
    width: 100%;
    margin-top: 30px;
}

.list_check{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.list_check li{
    position: relative;
    padding-left: 25px;
    margin-top: 20px;
    line-height: 36px;
}

.list_check li:before{
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    top: 3px;
    left: 0;
}

.dual_img{
    display: flex;
    margin-top: 30px;
}
.image0 img, .image1 img{
    width: 700px;
    height: 650px;
    object-fit: contain;
}

.image0{
padding-right: 20px;
}
.image1{
    padding-left: 20px;
}

.list{
    display: flex;
    justify-content: space-between;
}
.post_cont .list img{
    height: 666px;
    width: 480px;
    padding-left: 10px;
}

.list .list_check{
    padding-right: 10px;
}

.country_img img{
    width: 958px;
    height: 460px;
    margin-top: 30px;
    object-fit: contain;
}
.intro_cont_italic{
    font-style: italic;
    font-weight: 600;
    margin-top: 30px;
    border-left: 5px solid #588AEE;
    padding: 0 0 0 15px;
}

.refer{
    font-size: 18px;
    line-height: 36px;
    margin-top: 15px;
    word-break: break-all;
}

.review_bar{
    display: flex;
    justify-content: space-between;
    border: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-color: #E1E1E1;
    margin-bottom: 20px;
    padding: 10px 0;
}
span{
    font-weight: 600;
}
.social i{
    margin: 0 2px;
    opacity: 0.22;
}

.pst_but button{
    background-color: #FF6666;
    color: #FFFFFF;
    border: none;
    width: 180px;
    height: 60px;
}
button:focus{
    outline: none;
}

.tripple_image_acr h1{
    color: #000000;
    font-size: 30px;
    text-align: left;
    line-height: 60px;

}

.tripple_image_acr h2{
    color: #000000;
    font-size: 24px;
    text-align: left;
    line-height: 40px;
}

.tripple_image_acr span{
    color: #6F788B;
    font-size: 18px;
    text-align: left;
    line-height: 28px;
}

.befor_footer{
    background-color: #588AEE;
    margin-top: 60px;
}

.subs{
    width: 100%;
    padding: 150px 0 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s_title h1{
    color: #FFFFFF;
    font-size: 42px;
    line-height: 40px;
}

.s_title h3{
    color: #FFFFFF;
    font-size: 20px;
}

.mail_bar{
    width: 30%;
    position: relative;
}

.mail_bar input{
    width: 100%;
    height: 49px;
    padding: 10px;
}
input:focus {
    outline: none;
}
.mail_bar button{
    position: absolute;
    right: 0px;
    top: 1px;
    border: none;
    background-color: initial;
    margin-right: 10px;
    padding: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sociall{
    display: flex;
}
.cont, .T_C, .pp, .so{
    padding-left: 40px;
}

.so i{
    padding-left: 10px;
}

@media only screen and (max-width: 767px){
    
    .search {
        margin-right: 20px;
    }
    .menu1{
        display: none;
    }

    .navright {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .thumbnil img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .post_title h1 {
        font-size: 20px;
    }

    .post_sub_title {
        display: inherit;
        font-size: 16px;
        margin-top: 20px;
    }

    .post_sub_title .right {
        margin-left: 0px;
        padding-top: 10px;
    }

    .post_cont h1 {
        font-size: 20px;
        margin-top: 20px;
    }

    .intro_list {
        display: inherit;
    }

    .first_list, .second_list {
        max-width: 100%;
        font-size: 18px;
        letter-spacing: 0px;
    }

    .list {
        display: inline-block;
    }

    .post_cont .list img {
        height: auto;
        width: 100%;
    }

    .dual_img{
        display: inline-block;
        margin-top: 30px;
    }

    .image0 {
        padding-right: 0px;
    }

    .image1 {
        padding-left: 0px;
        margin-top: inherit;
    }

    .image0 img, .image1 img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .tripple_image_acr h1{
        font-size: 20px;
    }

    .row .col-md-4 {
        margin-top: 20px;
    }

    .post_cont h1 {
        font-size: 20px;
        margin-top: 0px;
    }

    .country_img img {
        width: 958px;
        margin-top: 30px;
        object-fit: contain;
    }

    .subs{
        display: inline;
        padding: 0px;
        margin: 0px;
    }

    .s_title {
        padding: 20px;
    }

    .s_title h1{
        font-size: 20px;
    }

    .mail_bar input {
        width: 100%;
    }

    .mail_bar {
        width: 100%;
        position: relative;
        padding: 10px;;
    }

    .mail_bar button{
        top: 10px;
    }

    .footer {
        text-align: left;
        justify-content: space-around;
    }
    .cont, .T_C, .pp, .so {
        padding-left: 0px;
    }
    .sociall {
        display: inline;
    }
}




@media only screen and (max-width: 991px){

    .intro_list{
        display: block;
    }

    .first_list, .second_list {
        max-width:100%;
    }

    .dual_img {
        margin-top: 30px;

    }

    .image0 img, .image1 img {
        width: auto;
        height: auto;
        object-fit: contain;
        padding: 20px;
    }
    .image0 {
        padding-right: 0px;
    }

    .image1 {
        padding-left: 0px;
    }
    .list {
        display: inline-block;
        justify-content: center;
    }
    
    .subs{
        display: block;
        text-align: -webkit-center;
    }

    .mail_bar{
        text-align: center;
        width: 80%;
        margin-top: 30px;
    }

    .footer {
        display: block;
        padding-bottom: 20px;
    }

    .c_tag{
        display: flex;
        justify-content: center;
    }

    .C_right {
        margin-left: 10px;
        font-size: 20px;
    }

    .sociall{
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

}